




/* =Forms
--------------------------------------------------------------------------------------------------------*/


.gform_wrapper{

}
.gform_wrapper ul{
	margin: 0;
	padding: 0;
	list-style: none;

}
.gform_wrapper ul{
	list-style: none;

}
.gfield_required{
	color:red;
}
.form-control {
	border-radius: 0px;
	padding: 5px;
	-webkit-box-shadow: inherit;
	box-shadow:  inherit;

}

.btn {
	border: 0;
	border-radius: 0;
	color: #FFF;
	background-color: #428BCA;

}



.btn:hover, .btn:focus, .btn:active, .btn.active {
	color: #4B626D;
	background-color: #A9C0CE;
}

/*

	.gform_wrapper ul.top_label{
	margin: 0;
	padding: 0;
	list-style: none;

}

.gform_wrapper .gf_page_steps {
width: 99%;
margin: 0 0 8px 0;
padding: 0 0 4px 0;
border-bottom: 1px dotted #CCC;
}
.gform_wrapper .gf_step.gf_step_active {
filter: alpha(opacity=100);
-moz-opacity: 1.0;
-khtml-opacity: 1.0;
opacity: 1.0;
}
.gform_wrapper .gf_step {
width: auto !important;
margin: 0 10px 10px 0;
font-size: 14px;
height: 20px;
line-height: 20px !important;
filter: alpha(opacity=20);
-moz-opacity: 0.2;
-khtml-opacity: 0.2;
opacity: 0.2;
font-family: arial,sans-serif;
display: -moz-inline-stack;
display: inline-block;
zoom: 1;
}
.gform_wrapper .gf_step span.gf_step_number {
font-size: 20px;
float: left;
font-family: arial,sans-serif;
}

.form-control {
	border-radius: 0px;
	padding: 5px;
	-webkit-box-shadow: inherit;
	box-shadow:  inherit;

}


.gform_footer {

}


.btn {
	border: 0;
	border-radius: 0;
	color: #FFF;
background-color: #428BCA;
	-webkit-box-shadow: inherit;
	box-shadow:  inherit;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #4B626D;
	background-color: #A9C0CE;
}

/*.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
*/

/*** List fields ***/
/*
.gform_wrapper .top_label .gfield_list {
width: 99%;
}

.gform_wrapper table.gfield_list {
border-spacing: 0;
border-collapse: collapse;
}
.gform_wrapper table.gfield_list thead, .gform_wrapper table.gfield_list tr {
padding: 0;
margin: 0;
}

.gform_wrapper table.gfield_list th, .gform_wrapper table.gfield_list td {
padding: 0 0 0.5em 0;
}


.gform_wrapper table.gfield_list td.gfield_list_icons {
min-width: 45px !important;
}


.gform_wrapper table.gfield_list th + th, .gform_wrapper table.gfield_list td + td {
padding: 0 0 0.5em 0.7em;
}
*/

/*** custom checkboxes ***/
/*
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    padding-top: 5px;  }

 .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    padding-top: 5px; }
/*

.checkbox label:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 5px;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label:after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 5px;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type=checkbox] {
    display: none; }
.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type=checkbox]:disabled + label {
    opacity: 0.65; }
.checkbox input[type=checkbox]:disabled + label:before {
    background-color: #eeeeee;
    cursor: not-allowed; }


.radio label:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 5px;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label:after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 8px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type=radio] {
    display: none; }
.radio input[type=radio]:checked + label:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
.radio input[type=radio]:disabled + label {
    opacity: 0.65; }
.radio input[type=radio]:disabled + label:before {
    cursor: not-allowed; }

*/


    /*** chzn ***/


/*
.gform_wrapper select.chzn-select {
	visibility: hidden;
	height: 28px !important;
	min-height: 28px !important;
}
*/
/*
.gform_wrapper .chzn-container {
	position: relative;
	margin-bottom: 4px;
	display: inline-block;
	zoom: 1;
}

.gform_wrapper  .chzn-container.chzn-container-single .chzn-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    padding: 0 0 0 8px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
    background-image:none;
    text-decoration: none;
    overflow: hidden;
	white-space: nowrap;


}

.gform_wrapper .chzn-container-single .chzn-single span {
	margin-right: 26px;
	line-height: 34px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}


.gform_wrapper  .chzn-container.chzn-container-single .chzn-single div {
    top:4px;
    color:#000;
    border-left: 1px solid #AAA;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 30px;
}

.gform_wrapper  .chzn-container .chzn-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;
    position: absolute;
	top: 29px;
	left: 0;
	border-top: 0;
	z-index: 999;

}

.gform_wrapper  .chzn-container .chzn-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}



.gform_wrapper  .chzn-container .chzn-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}
.gform_wrapper .chzn-container .chzn-results li {
    display:none;
	 padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;

}

.gform_wrapper  .chzn-container .help-block {
   display: none!important;

   }

.gform_wrapper  .chzn-container .chzn-results li.active-result {
    display: block;
   }


.gform_wrapper  .chzn-container .chzn-results li:hover,
.gform_wrapper  .chzn-container .chzn-results li.active-result:hover,
.gform_wrapper  .chzn-container .chzn-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}

.gform_wrapper .chzn-container-multi .chzn-choices .search-field {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
.gform_wrapper  .chzn-container-multi .chzn-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 0;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

.gform_wrapper  .chzn-container-multi .chzn-choices li.search-field input[type="text"] {
	color: #666;
	background: transparent !important;
	border: 0 !important;
	padding: 5px;
	margin: 1px 0;
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.gform_wrapper  .chzn-container-multi .chzn-choices li.search-choice {

    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 3px 6px 0 3px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
    float: left;
    position: relative;
}


.gform_wrapper .chzn-container-multi .chzn-choices li.search-choice .search-choice-close {
	top: 3px;
	right: 6px;
	position: absolute;
	width: 8px;
	height: 9px;
	    color: #333;
	text-decoration: none!important;
}

.gform_wrapper  .chzn-container-multi .chzn-choices li.search-choice .search-choice-close:before {
    content:"\00d7";
}



.gform_wrapper  .chzn-container-multi.chzn-container-active .chzn-choices,
.gform_wrapper  .chzn-container.chzn-container-single.chzn-container-active .chzn-single,
.gform_wrapper  .chzn-container .chzn-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

.gform_wrapper  .chzn-container-multi .chzn-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}

/*Clean up code*/
/*droparrow*/
/*
.chzn-single div b,.chzn-search,.search-choice-close{
	font-family: FontAwesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.chzn-search{
	position: relative;

}


.chzn-search:after {
    position: absolute;
    top: 3px;
    right: 2%;
    content: "\f002";
}

.gform_wrapper .chzn-container-single .chzn-single div b {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}
.gform_wrapper .chzn-container-single .chzn-single div b:before{
	content: "\f0d7";
	font-size: 1.6em;
	line-height: 1.5em;
	    color: #333;
}

.gform_wrapper .chzn-container-single.chzn-container-active .chzn-single div b:before{
	content: "\f0d8";
}

.gform_wrapper .chzn-container {
    width:100%!important;
}
.gform_wrapper .chzn-container .chzn-search input[type="text"] {
    //padding:2px 4%!important;
    width:98%!important;
    margin:5px 1%;
}
.gform_wrapper .chzn-container .chzn-drop {
    width: 100%!important;
}
