body{
font-family: helvetica,'sans-serif';
font-size: 16px;

}

.highlight {
 color: #F24f08;
font-size: 20px;
line-height: 32px;
font-weight: 700;
display: inline-block;
}
.blackbold {
 color: #000;
font-size: 20px;
line-height: 32px;
font-weight: 700;
 padding-bottom: 10px;
display: inline-block;
}

h3 {
position: static;
padding-bottom: 5px;
line-height: 1.5;
font-weight: 100;
color: #000;
font-size: 24px;
margin: 0;
}

a.button {
	background: #74CCE5;
	border-radius: 3px;
	color: #FFF;
	display: inline-block;
	padding: 7px 14px 5px;
	text-decoration: none;
}

strong{
	color: #000;
}
a.button:hover {
	color:#000;
	text-decoration: none;
}

.blocktext {
	background: #E4F1F4;
	margin: 1em;
	padding: 1em 1em 0.5em;
}

.blocktext p {
	margin: 0 0 0.5em;
}